.containerLeft {
    
    float: left;

    margin: 10px;
    
    width: 100%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
    background-color: lightgray;
}


