.containerLeft {
    
    float: left;

    margin: 10px;
    
    width: 100%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
    background-color: lightgray;
}


/* image */
.img {
    display:block; 
    margin: 10px auto;
    border-radius:3px;
}

/* tabla */
table.imagetable th {
    background:#b5cfd2 url('cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}

table.imagetable td {
    background:#dcddc0 url('cell-grey.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}


table.imagetable a {
    color: green;
}